{%- assign author = include.author -%}
{%- if author.website -%}
    <a href="{{ author.website }}" target="_blank" rel="noopener">{{ author.name }}</a>
{%- elsif author.inspire -%}
    <a href="https://inspirehep.net/authors/{{ author.inspire }}" target="_blank" rel="noopener">{{ author.name }}</a>
{%- elsif author.orcid -%}
    <a href="https://orcid.org/{{ author.orcid }}" target="_blank" rel="noopener">{{ author.name }}</a>
{%- elsif author.lattes -%}
    <a href="https://lattes.cnpq.br/{{ author.lattes }}" target="_blank" rel="noopener">{{ author.name }}</a>
{%- else -%}
    {{ author.name }}
{%- endif -%}