{%- assign seminar = include.seminar -%}

<li class="seminar-item">
  <h3 class="seminar-title"><a href="{{ seminar.url | relative_url }}">{{ seminar.title | smartify }}</a></h3>
  <p class="seminar-meta">
    {% include typeset_date_lang.html date=seminar.date lang=seminar.language %}
    {%- if seminar.speaker %}<br>{% include authorlist.html authorlist=seminar.speaker %}{% endif %}
  </p>
  {%- if include.abstract %}
  <p class="seminar-abstract">{{ seminar.content | markdownify | strip_html | truncatewords: 45 }}</p>
  {%- endif %}
</li>
